<launch>
  <!-- Send manipulator urdf to param server -->
  <group>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find manipulator_urdf)/urdf/siBOT_noEE.urdf" />
  </group>

 <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

 <param name="use_gui" value="true" />

 <!--<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" /> -->

 <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher"/>


 <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

</launch>
